<div style="padding-top:90px; padding-left:50px; padding-right:50px; padding-bottom:0px">
       <div class="row" style="padding-bottom:0px">
          <div class="col-xs-12 fnt36_bold"  style="padding-bottom:0px">
            Mario Mejia 123<img src="../assets/img/boton_opt.png" width="30" height="25"> </div>
       </div>
       <div class="row" style="padding-top:0px">
          <div class="col-xs-12 fnt14 blanco" style="padding-top:0px" >
            mariomejiag@gmail.com </div>
       </div>
               
       <div class="row">
        <div class="col-lg-12" style="padding-top:10px">
                <ul class="nav top-menu">
              
            <!-- settings end --> 
            <!-- inbox dropdown start-->
            <li id="header_inbox_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="color:#fff">
            pruebas <span class="badge bg-important conteo">5</span>
            </a>
              
            </li>
            <!-- inbox dropdown end --> 
            <!-- notification dropdown start-->
            <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#"  style="color:#fff">
            Fecha de cargue <span class="badge bg-warning conteo">2017-02-01</span> </a>
              
            </li>
            <!-- notification dropdown end -->
          </ul>
        </div>
      </div>
  </div>