 <div class="row" style="padding-top:30px">
    <div class="col-md-12" id="contenedor">                                       
       <div class="row">
        <div class="col-md-12 bluebox">
          <div class="row" style="padding-top:10px">
            <div class="col-md-12 fnt22 blanco">
              Módulo prestadores
            </div>
          </div>
            
          <div class="row" style="padding-top:0px">
            <div class="col-md-12 fnt22 blanco">
              <hr style="padding-top:0px; height:1px">
            </div>
          </div>
            
          <div class="row" style="padding-top:0px">
            <div class="col-md-3 col-md-offset-9 fnt22 blanco">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar" style="background-color:transparent !important; border-color:#36C !important; color:#FFF !important">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button" style="background-color:transparent !important; border-color:#36C !important; color:#FFF !important"><img src="../assets/img/look.png" width="20" height="19"></button>
                </span>
              </div><!-- /input-group -->
            </div>
          </div>
            
          <div class="row">
            <div class="col-md-12" style="padding-left:30px; padding-right:30px; padding-top:20px">                          
              <div class="row" style="padding-top:0px; background-color:#FFF; border-bottom:solid; border-bottom-width:1px; border-bottom-color:#333">
                  <div class="col-md-6 fnt11" style="padding-top:5px">
                    Selecciona una empresa padre
                  </div>
                    <div class="col-md-6 fnt18 text-right" style="padding-top:5px">
                    Empresa Padre
                  </div>
              </div>
              <div class="grid">
                <!-- aqui se inicia el bucle de resultados padre-->                      
                <div class="row hijo" style="padding-top:0px;">
                  <div class="col-sm-10 fnt14" style="padding-top:5px">
                  <a href="javascript:;">Cafam</a>
                  </div>
                    <div class="col-sm-2 fnt18 text-right" style="padding-top:5px">
                    <a href="javascript:;"><img src="../assets/img/delete.png" width="19" height="20"> </a>
                    <a href="javascript:;"><img src="../assets/img/edit.png" width="20" height="20"></a> </div>
                </div>
            
                <div class="row hijo" style="padding-top:0px;">
                  <div class="col-sm-10 fnt14" style="padding-top:5px">
                  <a href="">Cafam</a>
                  </div>
                    <div class="col-sm-2 fnt18 text-right" style="padding-top:5px">
                    <img src="../assets/img/delete.png" width="19" height="20"> 
                    <img src="../assets/img/edit.png" width="20" height="20"> </div>
                </div>
            
              <div class="row hijo" style="padding-top:0px;">
                <div class="col-sm-10 fnt14" style="padding-top:5px">
                <a href="">Cafam</a>
                </div>
                  <div class="col-sm-2 fnt18 text-right" style="padding-top:5px">
                  <img src="../assets/img/delete.png" width="19" height="20"> 
                  <img src="../assets/img/edit.png" width="20" height="20"> </div>
              </div>
            
              <div class="row hijo" style="padding-top:0px;">
                <div class="col-sm-10 fnt14" style="padding-top:5px">
                <a href="">Cafam</a>
                </div>
                  <div class="col-sm-2 fnt18 text-right" style="padding-top:5px">
                  <img src="../assets/img/delete.png" width="19" height="20"> 
                  <img src="../assets/img/edit.png" width="20" height="20"> </div>
              </div>
            
            
            <!-- aqui fnaliza el bucle de resultados pabre -->
            
            <div class="row" style="padding-top:0px;">
                <div class="col-sm-12 fnt14 text-right" style="padding-top:5px; background-color:#FFF; border-top:solid; border-top-width:1px; border-top-color:#333; height:35px">
                <a href="" class="fnt18"><b>Agregar</b> <img src="../assets/img/add.png" width="21" height="21"></a>
                </div>
              </div>                                                
            </div>
            
            
            <!-- resultado prestadores -->
            
            <div class="row" style="padding-top:40px">
                <div class="col-md-3 col-md-offset-6 fnt14 blanco text-right" style="border:solid; border-width:1px; border-color:#36C; border-radius:5px">
                  Resultados por página
                    <select class="form-control" style="width:70px; text-align:left !important; display:inline !important; background-color:transparent !important; border:none; color:#fff !important">
                    <option style="background-color:#003366">10</option>
                    <option style="background-color:#003366">20</option>
                    <option style="background-color:#003366">30</option>
                    <option style="background-color:#003366">40</option>
                    <option style="background-color:#003366">50</option>
                    </select>
                </div>
                <div class="col-md-3 fnt22 blanco">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Buscar" style="background-color:transparent !important; 
                          border-color:#36C !important; color:#FFF !important">
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button" style="background-color:transparent !important; 
                          border-color:#36C !important; color:#FFF !important"><img src="../assets/img/look.png" width="20" height="19"></button>
                      </span>
                  </div><!-- /input-group -->
                </div>
            </div>
            
            <div class="row" style="margin-top:20px; background-color:#FFF; border-bottom:solid; border-bottom-width:1px; border-bottom-color:#333">
                <div class="col-md-12 fnt18 text-right" style="padding-top:5px">
                  Colsubsidio
              </div>
            </div>
            <div class="row" style="background-color:#FFF; border-bottom:solid; border-bottom-width:2px; border-bottom-color:#333; height:40px">
                <div class="col-sm-11 fnt14" style="padding-top:5px">
                    <div class="row">
                        <div class="col-md-2">
                          <strong>Empresa</strong> </div>
                       
                        <div class="col-md-2">
                          <strong>eMail</strong> </div>
                       
                        <div class="col-md-2">
                          <strong>Responsable</strong> </div>
                        
                        <div class="col-md-2">
                          <strong>eMail responsable </strong></div>
                        
                        <div class="col-md-2">
                          <strong>Teléfono </strong></div>
                       
                        <div class="col-md-2">
                          <strong>Celular</strong> </div>
                        </div>
                  </div>
              </div>
                
            <div class="grid2">
            <!-- aqui se inicia el bucle de resultados padre-->
            
            <div class="row hijo" style="padding-top:0px;">
                  <div class="col-sm-11 fnt14" style="padding-top:5px">
                    <div class="row">
                        <div class="col-md-2">
                          Empresa
                        </div>
                       
                        <div class="col-md-2">
                          eMail
                        </div>
                       
                        <div class="col-md-2">
                          Responsable
                        </div>
                        
                        <div class="col-md-2">
                          eMail responsable
                        </div>
                        
                        <div class="col-md-2">
                          Teléfono
                        </div>
                       
                        <div class="col-md-2">
                          Celular
                        </div>
                        </div>
                  </div>
                    <div class="col-sm-1 fnt18 text-right" style="padding-top:5px">
                    <img src="../assets/img/delete.png" width="19" height="20"> 
                    <img src="../assets/img/edit.png" width="20" height="20"> 
                  </div>
            </div>
            
           <div class="row hijo" style="padding-top:0px;">
              <div class="col-sm-11 fnt14" style="padding-top:5px">
                <div class="row">
                    <div class="col-md-2">
                      Empresa
                    </div>
                   
                    <div class="col-md-2">
                      eMail
                    </div>
                   
                    <div class="col-md-2">
                      Responsable
                    </div>
                    
                    <div class="col-md-2">
                      eMail responsable
                    </div>
                    
                    <div class="col-md-2">
                      Teléfono
                    </div>
                   
                    <div class="col-md-2">
                      Celular
                    </div>
                    </div>
              </div>
                <div class="col-sm-1 fnt18 text-right" style="padding-top:5px">
                <img src="../assets/img/delete.png" width="19" height="20"> 
                <img src="../assets/img/edit.png" width="20" height="20"> 
              </div>
            </div>
            <div class="row hijo" style="padding-top:0px;">
              <div class="col-sm-11 fnt14" style="padding-top:5px">
                <div class="row">
                    <div class="col-md-2">
                      Empresa
                    </div>
                   
                    <div class="col-md-2">
                      eMail
                    </div>
                   
                    <div class="col-md-2">
                      Responsable
                    </div>
                    
                    <div class="col-md-2">
                      eMail responsable
                    </div>
                    
                    <div class="col-md-2">
                      Teléfono
                    </div>
                   
                    <div class="col-md-2">
                      Celular
                    </div>
                    </div>
              </div>
                <div class="col-sm-1 fnt18 text-right" style="padding-top:5px">
                <img src="../assets/img/delete.png" width="19" height="20"> 
                <img src="../assets/img/edit.png" width="20" height="20"> 
              </div>
            </div>
            <div class="row hijo" style="padding-top:0px;">
              <div class="col-sm-11 fnt14" style="padding-top:5px">
                <div class="row">
                    <div class="col-md-2">
                      Empresa
                    </div>
                   
                    <div class="col-md-2">
                      eMail
                    </div>
                   
                    <div class="col-md-2">
                      Responsable
                    </div>
                    
                    <div class="col-md-2">
                      eMail responsable
                    </div>
                    
                    <div class="col-md-2">
                      Teléfono
                    </div>
                   
                    <div class="col-md-2">
                      Celular
                    </div>
                    </div>
              </div>
                <div class="col-sm-1 fnt18 text-right" style="padding-top:5px">
                <img src="../assets/img/delete.png" width="19" height="20"> 
                <img src="assets/img/edit.png" width="20" height="20"> 
              </div>
            </div>
            <div class="row hijo" style="padding-top:0px;">
              <div class="col-sm-11 fnt14" style="padding-top:5px">
                <div class="row">
                    <div class="col-md-2">
                      Empresa
                    </div>
                   
                    <div class="col-md-2">
                      eMail
                    </div>
                   
                    <div class="col-md-2">
                      Responsable
                    </div>
                    
                    <div class="col-md-2">
                      eMail responsable
                    </div>
                    
                    <div class="col-md-2">
                      Teléfono
                    </div>
                   
                    <div class="col-md-2">
                      Celular
                    </div>
                    </div>
              </div>
                <div class="col-sm-1 fnt18 text-right" style="padding-top:5px">
                <img src="../assets/img/delete.png" width="19" height="20"> 
                <img src="../assets/img/edit.png" width="20" height="20"> 
              </div>
            </div>
            <div class="row hijo" style="padding-top:0px;">
              <div class="col-sm-11 fnt14" style="padding-top:15px; padding-bottom:10px">
                <div class="row">
                    <div class="col-md-2" style="padding: 0px 0px 0px 0px">
                      <input type="text" class="form-control" placeholder="Filrar" >
                    </div>
                   
                    <div class="col-md-2">
                      <input type="text" class="form-control" placeholder="Filrar" >
                    </div>
                   
                    <div class="col-md-2">
                      <input type="text" class="form-control" placeholder="Filrar" >
                    </div>
                    
                    <div class="col-md-2">
                      <input type="text" class="form-control" placeholder="Filrar" >
                    </div>
                    
                    <div class="col-md-2">
                      <input type="text" class="form-control" placeholder="Filrar" >
                    </div>
                   
                    <div class="col-md-2">
                      <input type="text" class="form-control" placeholder="Filrar" >
                    </div>
                    </div>
              </div>
               
            </div>
                                  
            <!-- aqui fnaliza el bucle de resultados pabre -->        
                <div class="row" style="padding-top:0px;">
                  <div class="col-sm-12 fnt14 text-right" style="padding-top:5px; background-color:#FFF; border-top:solid; border-top-width:1px; border-top-color:#333; height:35px">
                  <a href="" class="fnt18"><b>Agregar</b> <img src="../assets/img/add.png" width="21" height="21"></a>
                  </div>
                </div>
          </div>
            
            <!-- fin resultados prestadores -->            
          <div class="row" style="padding-top:15px">
            <div class="col-md-12">
            <table align="right">
            <tr>
              <td height="35px">
                <div style="height:30px; width:50px; border:solid; border-width:1px; 
                  border-bottom-color:#039; background-color:#39F; border-radius:10px; color:#FFF; text-align:center; 
                  padding-top:5px; margin-left:10px">
                 <<<
                </div>
              <td>
              <td>
                <div style="height:30px; width:40px; border:solid; border-width:1px; 
                  border-bottom-color:#039; background-color:#39F; border-radius:10px; color:#FFF; text-align:center; 
                  padding-top:5px; margin-left:10px">
                 <
                </div>
              <td>
              <td>
                  <div style="height:30px; width:40px; border:solid; border-width:1px; 
                    border-bottom-color:#039; background-color:#39F; border-radius:10px; color:#FFF; text-align:center; 
                    padding-top:5px; margin-left:10px">
                   1
                  </div>
              <td>
              <td>
                 <div style="height:30px; width:40px; border:solid; border-width:1px; 
                    border-bottom-color:#039; background-color:#39F; border-radius:10px; color:#FFF; text-align:center; 
                    padding-top:5px; margin-left:10px">
                   2
                  </div>
              <td>
              <td>
                  <div style="height:30px; width:40px; border:solid; border-width:1px; 
                    border-bottom-color:#039; background-color:#39F; border-radius:10px; color:#FFF; text-align:center; 
                    padding-top:5px; margin-left:10px">
                   >
                  </div>
              <td>
              <td>
                  <div style="height:30px; width:50px; border:solid; border-width:1px; 
                      border-bottom-color:#039; background-color:#39F; border-radius:10px; color:#FFF; text-align:center; 
                      padding-top:5px; margin-left:10px">
                     >>>
                  </div>
              <td>
            </tr>
          </table>
        </div>
      </div>                        
      <div class="row" style="height:20px">
      </div>                    
        </div>
      </div>              
        </div>
      </div>                               
      <div class="row" style="height:20px">
      </div>
      </div>
    </div>